@import "tailwindcss";
@plugin "daisyui";

/* ===============================
   JOKI ML THEME
   =============================== */
[data-theme="jokiTheme"] {
  /* Brand */
  --p: 34 100% 50%;   /* primary - #ff9100 */
  --s: 34 100% 45%;
  --a: 34 100% 55%;

  /* Base */
  --n: 0 0% 18%;      /* #2f2f2f */
  --b1: 0 0% 12%;
  --b2: 0 0% 16%;
  --b3: 0 0% 20%;

  /* State */
  --su: 142 76% 36%;
  --wa: 45 93% 47%;
  --er: 0 84% 60%;
}


/* ================= SWIPER ORANGE THEME ================= */

/* Arrow */
.hero-swiper .swiper-button-next,
.hero-swiper .swiper-button-prev {
  color: #f59e0b; /* tailwind warning */
}

/* Bullet */
.hero-swiper .swiper-pagination-bullet {
  background-color: rgba(245, 158, 11, 0.4);
  opacity: 1;
}

.hero-swiper .swiper-pagination-bullet-active {
  background-color: #f59e0b;
}